<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Administradores</title>
    <link rel="stylesheet" href="/static/css/login-administrador.css">
</head>
<body>
<!--Section del formulario para loguear al administrador-->
    <section class="bg">
        <div class="div-form">
            <img src="/static/images/emote-cliente.png" alt="">
            <h3></h3>
            <form action="" class="form">
                <label for="">Nombre de usuario</label>
                <input type="text">
                <label for="">Contraseña</label>
                <input type="password">
                <input type="submit" value="Iniciar Sesión" class="btn-sesion">
            </form>
        </div>
    </section>
</body>
</html>